@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', Helvetica, sans-serif;
}

/* Custom Colors */

.purple-100 {
  color: #DBD1FC;
}

.purple-500 {
  color: #7551DC;
}

.yellow-100 {
  color: #F9EEE2;
}

.yellow-500 {
  color: #FFCC6A;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #121212;
}
/* Custom Styles */

.headline {
  @apply text-white font-medium tracking-[-0.085em] text-[46px] leading-[42px];
}

.text-preset-1 {
  @apply text-black font-medium text-[16px] leading-[20px] tracking-[0px];
}

.text-preset-2 {
  @apply text-[18px] leading-[20px] tracking-[0px];
}

.text-preset-3 {
  @apply text-black font-medium text-[26px] leading-[24px] tracking-[-0.06em];
}

.text-gray {
  @apply text-[12px] text-[#9E9E9E] tracking-[-0.03em];
}

/* .mobile-defaults {} */

