@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-100: #DBD1FC;
  --color-purple-500: #7551DC;
  --color-white: #FFFFFF;
  --color-black: #121212;
  --color-yellow-100: #F9EEE2;
  --color-yellow-500: #FFCC6A;
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', Helvetica, sans-serif;
}


/* Custom Styles */

.text-preset-1 {
  @apply font-medium leading-[42px] tracking-[-4px]; 
}

.text-preset-2 {
  @apply font-medium leading-[24px] tracking-[-0.06em];
}

.text-preset-3 {
  @apply font-medium text-[26px] leading-[24px] tracking-[-0.075em];
}

.text-preset-4 {
  @apply text-[12px] font-normal leading-[20px] tracking-[-0.03em] text-[#9E9E9E];
}

.text-preset-5 {
  @apply font-medium leading-[28px] tracking-[-0.085em];
}

.custom-shadow {
  @apply shadow-[0_0_24.45px_0_rgba(98,26,123,0.05)]
}

/* .mobile-defaults {} */
